<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l’accueil">
          <p class="fr-logo" title="république française">république<br>française</p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc"><%= t("layouts.decidim.footer.made_with_open_source").html_safe %><br><%= render partial: "layouts/decidim/social_media_links" %></p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://service-public.fr">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://data.gouv.fr">data.gouv.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <% if current_organization.static_pages.any? %>
          <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
            <% if page_topic.pages.any? %>
              <li class="fr-footer__bottom-item"><%= link_to translated_attribute(page_topic.title), decidim.page_path(page_topic.pages.first), :class => 'fr-footer__bottom-link' %></li>
            <% end %>
          <% end %>

          <% current_organization.static_pages.where(show_in_footer: true).each do |page| %>
            <li class="fr-footer__bottom-item"><%= link_to translated_attribute(page.title), decidim.page_path(page), :class => 'fr-footer__bottom-link' %></li>
          <% end %>
        <% end %>
        <li class="fr-footer__bottom-item"><%= link_to t("layouts.decidim.footer.download_open_data"), decidim.open_data_download_path, :class => 'fr-footer__bottom-link' %></li>
      </ul>
    </div>
  </div>
</footer>